name: precommit
on:
  pull_request:
permissions:
  contents: read
defaults:
  run:
    shell: bash
jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Create virtual environment
        run: python3 -m venv venv && source venv/bin/activate
      - name: Install pre-commit and checkov
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pre-commit==3.5.0 checkov==2.5.10
      - name: Cache packages
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Run pre-commit
        run: pre-commit run --show-diff-on-failure --color=always --all-files
